.navbar.svelte-woz2sx{background-color:white;position:fixed;top:0;width:100%;z-index:1}
main.svelte-1z0hv40{position:relative;max-width:56em;background-color:white;padding:2em;margin:auto;margin-top:50px;box-sizing:border-box}
