.star.svelte-pp3ob9{margin-right:4px}.starPath.svelte-pp3ob9{fill:none;stroke:#999}.filled.svelte-pp3ob9{fill:yellow}
.starContainer.svelte-zu3tcm{display:inline-block;width:180px;transition:background .2s ease-out;border-radius:8px;padding:4px 6px 0}.starContainer.svelte-zu3tcm:hover{background:#efefef}
